body{
    font-family: "Merriweather", serif;
}
.bg-1{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/new-year.png");
    background-repeat: no-repeat;
    border-radius: 16px;
}
.header{
    text-align: center;
    color: white;
    padding-top: 50px;
    
}
.header-1{
    font-size: 32px;
    font-weight: 400;
}
.header-2{
    font-size: 72px;
    font-weight: 900;
}
.categories{
    text-align: center;
}
.categories h1,p{
    color: red;
}
.categories img{
    width: 500px;
    height: 400px;
    flex-shrink: 0;
}
.party-bg{
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 60px;
}
.party-text{
    color: white;
}
.party-p{
    color: white;
}
.party-display{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gift-text h5{
    color: red;
}
.gift-text p{
    color: rgba(7, 2, 17, 0.60);
}
.gift-box{
    display: flex;
    flex-flow: wrap;
    gap: 50px;
}
.gift-box img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.hover img:hover{
    opacity: 0.8;
    transition: all 0.8s;
    transform:scale(1.01);
    cursor: pointer;
    border: 2px solid red;
}
.subscribe{
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
}
.subscribe p{
    color: rgba(7, 2, 17, 0.60);
}
.input{
    margin-top:30px ;
}
.input1{
    border: none;
    padding: 20px 30px;
    outline: none;
    border-radius: 20px 0 0 20px;
    letter-spacing: 1px;
}
.input2{
    border: none;
    padding: 16px 30px;
    border-radius: 0 20px 20px 0;
    background-color: red;
    color: white;
    font-size: 20px;
}
footer{
    background-color: #070211;
}
.address{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    padding-top: 50px;
}
.phone{
    display: flex;
}
.phone p{
    color: white;
}
.social-icon{
    text-align: center;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 24px;
}
footer hr{
    width: 75%;
    border: 1px solid rgb(51, 51, 51);
}
